

.App {
  margin:auto;
  max-width: 682px;
}

.rt {
  float: right;
}
.page-holder {
  padding: 1rem;
}
.logo-holder {
  padding: 0 1rem;
}
.search-bar {
  padding-left: 2.375rem !important;
  border-radius: 10px !important;
  border: 2px solid #4950577d !important;

    position: relative !important;
    top: -90vh;
    margin: 0px 25px;
}
.search-icon {
  font-weight: 600;
  position: absolute;
  padding: .75rem;
  z-index: 2;
  pointer-events: auto;
  color: #000;
}
.card {
  margin: auto;
  border: none !important;
}
.card-img-top {
  max-height:250px;
  margin: auto;
  border-radius: 5px;
}
.card-body {
  padding: 1.25rem 0rem !important;
  display: inline-flex;
  justify-content: space-between;
}
.card-title {
  font-weight: 500;
  color: #495057; 
}
.left-side {
  max-width: 60%;
  padding-right: 5px;
}
.right-side {
  max-width: 40%;
}
.card-text {
  margin:0px !important;
  padding: 0px;
  color: #495057;
}
.MuiRating-root {
  flex-direction: row-reverse;
}
.MuiRating-iconEmpty {
  color: #ffb400 !important;
}
.promo {
  color: #15AABF;
  font-weight: 500;
}

.nav-menu {
  display: inline-flex;
  justify-content: space-around;
  height: 2.2rem;
  max-width: 682px;
  width: 100%;
  background: #f5faff;
  position: fixed;
  bottom: 0px;
  padding-top: 3px;
}
.nav-menu i {
  font-size: 2rem;
  text-decoration: none;
  color: #212529;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}