

.App {
  margin:auto;
  max-width: 720px;
}
.rt {
  float: right;
}
.card {
  margin: auto;
  border: none !important;
}

.card-body {
  padding: 1.25rem 0rem !important;
  display: inline-flex;
  justify-content: space-between;
}

.card-title {
  font-weight: 500;
}
.left-side {
  max-width: 60%;
  padding-right: 5px;
}

.right-side {
  max-width: 40%;
}
.card-img-top {
  max-height:250px;
  margin: auto;
  border-radius: 5px;
}

.card-text {
  margin:0px !important;
  padding: 0px;
}

.promo {
  color: #15AABF;
  font-weight: 500;
}